__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

*.log
qctools.log

RDF/
RDF_first/
ADF/
*.data
energy_error.txt
force_error.txt
energy_error_analysis.png
force_error_analysis.png
Err-energy.xyz
Err-force-ini.xyz
Err-force-replaced.xyz
leave-E-img.xyz
leave-F-img.xyz

.DS_Store
